// Specific CSS for your home-page

.home-banner {
  background-image: url(movie-web.jpg);
  background-position: center;
  background-size: fit;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;

  h2 {
    color: $cream;
    font-size: 20px;
  }


}

.home-banner-content {
  color: $cream;
  margin-top: 200px;
  margin-left: 100px;
  width: 400px;
}

.home-banner-form {
  background-color: rgba(252, 250, 250, 0.4);
  border-radius: 30px;
  margin-top: 120px;
  margin-right: 100px;
  width: 400px;
  height: 400px;

  .form-field {
    color: $dark-gray
  }

  a {
    color: $cream;

    p{
      margin: 0 !important;
    }
  //   border-bottom: 1px solid $pinky;
  //   padding: 0px;
  //   transition: border-bottom-width 0.2s linear;

  //   &:hover {
  //     color: $pinky;
  //     border-bottom: 3px solid $pinky;
  //     padding: 0px;
  //   }
  }
}


@media only screen and (min-device-width : 321px) and (max-device-width : 480px) {
  .home-banner {
    flex-direction: column;
    // height: 80vh;
  }

  .home-banner-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4.5rem;

    width: 90%;
  }

  .home-banner-form {
    margin: 20px auto;
    width: 90%;
    height: 380px;

    h2{
      margin-top: 0.5rem !important;
    }
  }
}

