.reco-show {
  height: 100vh;
  width: 100vw;
}


.poster {
  object-fit: cover;
  height: 80vh;
  border-radius: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 30px 80px;
}


.reco-content {
  margin: auto 110px;
}


@media only screen and (min-device-width : 321px) and (max-device-width : 480px) {
  .reco-show {
    flex-direction: column;

  }

  .poster {
    height: 50vh;
    margin: 50px;
  }

  .reco-content {
    margin: 0;
    padding: 18px;

    .margin-content{
      margin: 0.5rem !important;
    }
  }

  .modale-responsivness {
    flex-direction : column;
    .poster {
      height: 30vh;
      margin-bottom: 10px;
    }

    h2 {
      width: 80%;
      margin: auto;
    }

    .form-field {
      width: 80%;
      margin: auto;
    }
  }
}
