<div class="personnalized-container  my-5">
  <div>
    <div class="d-flex justify-content-end my-5">
      <div>
        <%= render 'shared/btn_underline', fontawesome: "fas fa-user-edit", title: "Editer mon profil", path: edit_user_registration_path(@user) %>
      </div>
    </div>
  <%= render 'shared/profile', user: @user  %>
  <%= render 'shared/moviebrary', user: @user  %>
  </div>
</div>
