<div class="d-flex justify-content-end my-5">
  <div class="btn-underline-hover my-2 d-flex justify-content-start" id="open-modal">
      <div><i class="<%= fontawesome %>"></i></div>
      <div class="btn-underline ml-2"><p><%= title %></p></div>
  </div>
</div>
