<%= link_to path do   %>
  <div class="btn-underline-hover my-2 d-flex justify-content-start ">
      <div><i class="<%= fontawesome %>"></i></div>
      <div class="btn-underline ml-2"><p><%= title %></p></div>
  </div>
<% end %>
