<%= link_to circle_path(c)  do %>
  <div class="circle-card d-flex flex-column align-items-center mx-4 d-flex align-items-center">
    <div class="d-flex flex-column justify-content-between h-100 my-2">
      <div class="mt-5"><h2><%= c.title %></h2></div>
      <div><p><em> Créé par <%= c.user.pseudo %></em></p></div>
      <div class="mb-5">
        <p><i class="fas fa-users"></i> Nb de pax in</p>
        <p><i class="fas fa-film"></i> Nb de films</p>
      </div>
    </div>
  </div>
<% end %>
