<div class="m-auto d-flex justify-content-center align-items-center pb-3">
  <% if array.size <= 1 %>
      <p> <%= empty_text %> </p>
  <% elsif array.size == 2 %>
    <% one = nil %>
    <% two = nil %>
    <% array.each do |data| %>
    <% data.user == current_user ? two = data.user : one = data.user %>
    <% end %>
    <%= render 'shared/two-avatars', one: one, two: two, text: text  %>
  <% else %>
    <% one = array.first(3)[2].user%>
    <% two = array.first(3)[1].user  %>
    <% three =  current_user %>
    <% size = array.size - 3 %>
    <%= render 'shared/more-avatars', one: one, two: two, three: three, size: size, text: text %>
  <% end %>

</div>
