<h2 class="my-4">Moviebrary</h2>
<div class="tabs d-flex justify-content-start align-items-end">
  <div class="watchlist-tab  tab active">
    <a href="#">Watchlist</a>
  </div>
  <div class="reco-tab tab">
    <a href="#">Recommandations</a>
  </div>
  <div class="movies-seen-tab tab ">
    <a href="#">Films vus</a>
  </div>
</div>
<div class="moviebrary">
  <div class="d-flex flex-column align-items-center justify-content-center tab-content watchlist-tab on">
    <%= render 'shared/watchlist', user: @user %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center tab-content reco-tab">
    <p>Reco!</p>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center tab-content movies-seen-tab">
    <p>Seen!</p>
  </div>
</div>
