 <div class="reco-card mt-5">

  <div class="d-flex justify-content-start align-items-center">
    <div>
      <%= reco.membership.user.profile_picture  %>
    </div>
    <div>
      <h3>Recommended by <%= reco.membership.user.pseudo.capitalize %></h3>
      <%= render 'shared/stars', reco: reco %>
    </div>
  </div>
  <p>"<%= reco.review_content %>"</p>

 </div>
