.btn-pinky {
  background-color: $pinky;
  color: $cream;
  padding: 5px 15px;
  border-radius: 30px;

  &:hover{
    background-color: rgba(227, 59, 87, 0.85);
    color: $cream;
  }
}

.btn-pinky-no-hover {
  background-color: $pinky;
  color: $cream;
  padding: 5px 15px;
  border-radius: 30px;

}
