.circle-card {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: $cream;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
  border: 10px solid $pinky;
  padding: auto;

  h2 {
    margin-top: 70px;
  }
}
