.reco-card {
  background: radial-gradient(circle, rgba(244,246,246,1) 5%, rgba(233,237,237,0.8) 50%, rgba(244,246,246,1) 95%);
  padding: 30px;
  border-radius: 30px;
  width: fit-content;
  position: relative;
  margin: auto;

}


.quote-b-l {
  position: absolute;
  bottom: -10px;
  left: -10px;
  img {
    height: 30px;
  }
}

.quote-t-r {
  position: absolute;
  top: -10px;
  right: -10px;
  img {
    height: 30px;
  }

}
