.searchbar {
  background-color: $cream;
  color: $light-gray;
  font-weight: light;
  font-size: 20px;
  border-radius: 30px;
  width: 90%;
  height: 50px;
  margin: 10px auto;
  padding-left: 20px;
  box-shadow:  inset 2px 2px 3px rgba(0,0,0,0.25);
}
