<%= render 'shared/logged-navbar' %>

<div class="container text-center ">
  <h1 class="my-5">Tous mes cercles</h1>
  <div class="d-flex justify-content-around">
    <% @circles.each do |c| %>
      <%= render 'shared/circle-card', c: c %>
    <% end %>
  </div>
</div>

